.team-matches-bg {
  background-image: linear-gradient(to bottom, #a4261d, #5755a7);
  background-size: cover;
  height: 100vh;
  padding: 50px;
  width: 100vw;
  width: 100vw;
  color: white;
  font-family: bree Serif;
}
.team-banner {
  height: 200px;
  width: 900px;
  text-align: center;
}
.load {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fdasjllj {
  display: flex;
  flex-direction: row;
}
.green {
  color: green;
}
.red {
  color: red;
}
